name: build-apex
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Tools
        run: sudo apt-get update && sudo apt-get install -y clang binutils
      - name: Build APK
        run: |
          pip install --upgrade buildozer cython cryptography
          yes | buildozer android debug || true
          buildozer android debug
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: apex-artifact
          path: bin/*.apk
