name: build-apex
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: System Environment Setup
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-pip openjdk-17-jdk libncurses5 libstdc++6 wget zip unzip
          pip3 install --user --upgrade buildozer cython==0.29.33
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Fix Git Directory and Build
        run: |
          # Это решение критической ошибки из лога 0_build.txt
          git config --global --add safe.directory '*'
          
          export ANDROID_SDK_ROOT=$HOME/.buildozer/android/platform/android-sdk
          export ANDROID_HOME=$HOME/.buildozer/android/platform/android-sdk
          
          yes | buildozer --verbose android debug
