name: build-apex
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Install System Tools
        run: sudo apt-get update && sudo apt-get install -y clang binutils python3-pip
      - name: Setup NDK
        run: |
          wget https://dl.google.com/android/repository/android-ndk-r25b-linux.zip
          unzip -q android-ndk-r25b-linux.zip
          echo "ANDROID_NDK_HOME=$(pwd)/android-ndk-r25b" >> $GITHUB_ENV
      - name: Build APK
        run: |
          pip install --upgrade buildozer cython cryptography
          yes | buildozer android debug || true
          buildozer android debug
        env:
          ANDROID_NDK_HOME: ${{ env.ANDROID_NDK_HOME }}
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: apex-artifact
          path: bin/*.apk
