name: build-apex
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Tools
        run: sudo apt-get update && sudo apt-get install -y clang binutils
      - name: Install Dependencies
        run: |
          pip install buildozer cython cryptography requests
          mkdir -p ~/.android && touch ~/.android/repositories.cfg
      - name: Compile Vessel
        run: |
          clang -Os -finline-functions -fno-ident -static vessel.c -o vessel
          strip --strip-all vessel
          head -c 24 /dev/urandom >> vessel
      - name: Pre-accept Licenses
        run: |
          mkdir -p /home/runner/.buildozer/android/platform/android-sdk/licenses
          echo -e "8933bad161af4178b1185d1a37fbf41ea5269c55\nd56f5187479451eabf01fb74abc367c34458d717\n24333f8a63b6825ea0c55216f24f9b6582c1a034" > /home/runner/.buildozer/android/platform/android-sdk/licenses/android-sdk-license
          echo -e "84831b9409646a918e30573bab4c9c91346d8abd\n50466765610b441a0abe74229528302e115f4058" > /home/runner/.buildozer/android/platform/android-sdk/licenses/android-sdk-preview-license
      - name: Build APK
        run: |
          buildozer android debug
      - uses: actions/upload-artifact@v4
        with:
          name: apex-artifact
          path: bin/*.apk
