name: build-apex
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup-Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Dependencies
        run: |
          sudo apt-get update
          sudo DEBIAN_FRONTEND=noninteractive apt-get install -y build-essential git python3-dev libssl-dev libffi-dev libncurses5 libncursesw5 pkg-config cmake ant unzip
          pip install --upgrade pip
          pip install "cython<3.0" buildozer virtualenv requests cryptography

      - name: Synthesis
        run: |
          chmod +x argus.sh
          ./argus.sh

      - name: Compilation
        run: |
          yes | buildozer android debug

      - name: Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Apex-Package
          path: bin/*.apk
