name: build-apex
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install System Tools
        run: sudo apt-get update && sudo apt-get install -y clang binutils
      - name: Install Buildozer
        run: pip install --upgrade buildozer cython cryptography
      - name: Compile Vessel
        run: |
          clang -Os -finline-functions -fno-ident -static vessel.c -o vessel
          strip --strip-all vessel
          head -c 24 /dev/urandom >> vessel
      - name: Build APK
        run: |
          yes | buildozer android debug || true
          buildozer android debug
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: apex-artifact
          path: bin/*.apk
