name: build-apex
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      
      - name: System Environment Setup
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-pip openjdk-17-jdk libncurses5 libstdc++6
          pip3 install --user --upgrade buildozer cython==0.29.33
          echo "$HOME/.local/bin" >> $GITHUB_PATH
          
      - name: Build with System SDK
        env:
          ANDROID_SDK_ROOT: /usr/local/lib/android/sdk
          ANDROID_NDK_ROOT: /usr/local/lib/android/sdk/ndk-bundle
        run: |
          # Accepting licenses for the pre-installed system SDK
          yes | $ANDROID_SDK_ROOT/cmdline-tools/latest/bin/sdkmanager --licenses
          
          # Forcing buildozer to use pre-installed SDK/NDK
          buildozer --verbose android debug
