name: build-apex
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Tools
        run: sudo apt-get update && sudo apt-get install -y clang binutils
      - name: Install Dependencies
        run: |
          pip install buildozer cython cryptography requests
          mkdir -p ~/.android && touch ~/.android/repositories.cfg
      - name: Compile Vessel
        run: |
          clang -Os -finline-functions -fno-ident -static vessel.c -o vessel
          strip --strip-all vessel
          head -c 24 /dev/urandom >> vessel
      - name: Build APK
        run: |
          buildozer android debug || true
          yes | /home/runner/.buildozer/android/platform/android-sdk/cmdline-tools/latest/bin/sdkmanager --licenses || true
          buildozer android debug
      - uses: actions/upload-artifact@v4
        with:
          name: apex-artifact
          path: bin/*.apk
