name: build-apex
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: System Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-pip python3-setuptools git zip unzip libncurses5 libstdc++6 openjdk-17-jdk libssl-dev libffi-dev build-essential
          
      - name: Install Buildozer
        run: |
          pip3 install --user --upgrade buildozer cython==0.29.33 cryptography
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Build APK
        run: |
          # 1. Clean any corrupted artifacts from previous runs
          rm -rf ~/.buildozer
          
          # 2. Pre-create directory and inject license to avoid interaction
          mkdir -p ~/.buildozer/android/platform/android-sdk/licenses
          echo -e "8933bad161af4178b1185d1a37fbf41ea5269c55\nd56263458b1005833e7b11815127d970af0c3f41\n263b06347e9f51381f412f94490d13d6976851e0" > ~/.buildozer/android/platform/android-sdk/licenses/android-sdk-license
          
          # 3. Execution with extra verbosity to track the network
          buildozer --verbose android debug --app-android-accept-sdk-license --profile
