name: build-apex
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: System Setup
        run: sudo apt-get update && sudo apt-get install -y clang binutils zip unzip
      - name: Setup NDK
        run: |
          mkdir -p ~/.buildozer/android/platform
          wget -q https://dl.google.com/android/repository/android-ndk-r25b-linux.zip
          unzip -q android-ndk-r25b-linux.zip
          mv android-ndk-r25b ~/.buildozer/android/platform/android-ndk-r25b
      - name: Build APK
        run: |
          pip install --upgrade buildozer cython cryptography
          yes | buildozer android debug
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: apex-artifact
          path: bin/*.apk
