      - name: Build with p4a
        run: |
          p4a apk --private . \
            --package=org.logos.vessel \
            --name="ColdChain Apex" \
            --version=6.3.8 \
            --bootstrap=sdl2 \
            --requirements=python3,kivy,cryptography,requests \
            --arch=arm64-v8a \
            --dist_name=vessel_dist \
            --android-api 34 \
            --accept-sdk-license
