name: build-apex
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: System Setup
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-pip openjdk-17-jdk wget zip unzip libncurses5 libstdc++6
          
      - name: SDK Prepare
        run: |
          mkdir -p ~/.buildozer/android/platform/android-sdk/licenses
          echo -e "8933bad161af4178b1185d1a37fbf41ea5269c55\nd56263458b1005833e7b11815127d970af0c3f41" > ~/.buildozer/android/platform/android-sdk/licenses/android-sdk-license
          
      - name: Install Buildozer
        run: |
          pip3 install --user --upgrade buildozer cython==0.29.33 cryptography
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Execution
        run: |
          yes | buildozer --verbose android debug
