name: build-apex
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Setup
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-pip openjdk-17-jdk libncurses5 libstdc++6 wget zip unzip
          pip3 install --user --upgrade buildozer cython==0.29.33
          echo "$HOME/.local/bin" >> $GITHUB_PATH
      - name: Build
        run: |
          git config --global --add safe.directory '*'
          if [ ! -f buildozer.spec ]; then buildozer init; fi
          sed -i 's/android.permissions =.*/android.permissions = INTERNET,REQUEST_INSTALL_PACKAGES/' buildozer.spec
          yes | buildozer --verbose android debug
      - name: Export
        uses: actions/upload-artifact@v4
        with:
          name: ColdChain-Apex-Final
          path: bin/*.apk
