name: build-apex
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      
      - name: System Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-pip python3-setuptools git zip unzip libncurses5 libstdc++6 openjdk-17-jdk libssl-dev libffi-dev build-essential
          
      - name: Install Buildozer
        run: |
          pip3 install --user --upgrade buildozer cython==0.29.33 cryptography
          echo "$HOME/.local/bin" >> $GITHUB_PATH
          
      - name: Setup NDK
        run: |
          mkdir -p ~/.buildozer/android/platform
          wget -q https://dl.google.com/android/repository/android-ndk-r25c-linux.zip
          unzip -q android-ndk-r25c-linux.zip
          mv android-ndk-r25c ~/.buildozer/android/platform/android-ndk-r25c
          
      - name: Build APK
        run: |
          # Accepting licenses and running the build in a single stream
          yes | buildozer android debug
          
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: apex-artifact
          path: bin/*.apk
