name: build-apex
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: System Tools
        run: sudo apt-get update && sudo apt-get install -y python3-pip openjdk-17-jdk wget zip unzip
      
      - name: Pre-Accept Licenses
        run: |
          mkdir -p ~/.android && touch ~/.android/repositories.cfg
          wget https://dl.google.com/android/repository/commandlinetools-linux-8512546_latest.zip -O cmd.zip
          unzip -q cmd.zip -d tools && mkdir -p sdk/cmdline-tools && mv tools/cmdline-tools sdk/cmdline-tools/latest
          yes | sdk/cmdline-tools/latest/bin/sdkmanager --sdk_root=$HOME/sdk --licenses
          
      - name: Install Buildozer
        run: pip3 install --user buildozer cython==0.29.33
          
      - name: Build
        run: |
          export PATH=$PATH:$HOME/.local/bin
          buildozer --verbose android debug
