name: build-apex
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: System Setup
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-pip python3-setuptools git zip unzip libncurses5 libstdc++6 openjdk-17-jdk libssl-dev libffi-dev build-essential wget
          
      - name: Force SDK Tools
        run: |
          mkdir -p ~/.buildozer/android/platform/android-sdk/cmdline-tools
          wget https://dl.google.com/android/repository/commandlinetools-linux-8512546_latest.zip -O cmdline.zip
          unzip -q cmdline.zip -d ~/.buildozer/android/platform/android-sdk/cmdline-tools
          mv ~/.buildozer/android/platform/android-sdk/cmdline-tools/cmdline-tools ~/.buildozer/android/platform/android-sdk/cmdline-tools/latest
          mkdir -p ~/.buildozer/android/platform/android-sdk/tools/bin
          ln -s ~/.buildozer/android/platform/android-sdk/cmdline-tools/latest/bin/sdkmanager ~/.buildozer/android/platform/android-sdk/tools/bin/sdkmanager

      - name: Install Buildozer
        run: |
          pip3 install --user --upgrade buildozer cython==0.29.33 cryptography
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Final Build
        run: |
          # The 'yes' command automates the licenses from build #97
          yes | buildozer --verbose android debug --app-android-accept-sdk-license --profile
